body, html {
   height: 100%;
   background-color:#393E46;
   margin: 0px;
}

video {
   border: 1px solid #aaa;
   margin: auto;
   margin-bottom: 20px ;
   display: block;
   width: 70%;
}
/*.vd{
  float: left; margin-right: 5px;
}*/
::cue {
   font-size: 12px;
}

h1{
   width:100%;
   background-color: #00ADB5;
   padding-top: 30px;
   padding-bottom: 30px;
   text-align: center;
   color: #EEEEEE;
   margin-bottom: 30px;
}


.href-btn{
  background-color: #00ADB5;
  color: white;
  padding: 15px 25px;
  margin: 30px;
  text-decoration: none;
  border: 1px solid #EEEEEE;
  display: inline-block;
}

